{% extends "base.html" %}

{% block head %}
{{ super() }}
{%- endblock %}

{% block content %}
  <div class="container">
      <div class="page-header">
        <h1 style="margin-bottom: 1em;">Earthstar Contoller</h1>
        <div class="row">
          {% for ring in range(6) %}
            <div class="col-md-4">
              <input type="text" value="75" data-ring="{{ ring }}" class="dial">
            </div>
            {% if ring % 3 == 2 %}
        </div>
        <div class="row">
            {% endif %}
          {% endfor %}
        </div>
        <div class="row">
            <div class="col-md-12">
              <input type="button" value="Change Now!"
                     class="btn btn-success btn-lg change-now"
                     style="margin: 2em">
              <input type="button" value="No Change!"
                     class="btn btn-danger btn-lg change-not-now"
                     style="margin: 2em">
            </div>
        </div>
      </div>
  </div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='jquery.knob.min.js') }}"></script>
<script>
    $(function() {
        var PI = 3.141592653589793;
        $(".dial").knob({
            "min": -PI,
            "max": PI,
            "step": 2 * PI / 180,
            release: function (value) {
                var ring = this.$.attr('data-ring');
                $.ajax({
                  type: "POST",
                  url: "{{ url_for('effect_api.spindots') }}",
                  data: JSON.stringify({ring: ring, angle: value}),
                  dataType: "json",
                  contentType: "application/json",
                  success: null,
                });
            },
        });
        $(".change-now").click(function (ev) {
          $.ajax({
            type: "POST",
            url: "{{ url_for('effect_api.transition_timer') }}",
            data: JSON.stringify({seconds: 0}),
            dataType: "json",
            contentType: "application/json",
            success: null,
          });
        });
        $(".change-not-now").click(function (ev) {
          $.ajax({
            type: "POST",
            url: "{{ url_for('effect_api.transition_timer') }}",
            data: JSON.stringify({seconds: 60}),
            dataType: "json",
            contentType: "application/json",
            success: null,
          });
        });
    });
</script>
{% endblock %}
